@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #FFAF7B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: white;
}

/*CSS Code for the FirstContent File*/

.main {
    margin-top: 50px;
    width: 100%;
}

.TextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.TextContainer .Text {
    border-radius: 30px;
    padding: 5px 20px;
    color: var(--main-color);
    background-color: white;

}

.LargeText {
    text-align: center;
}

.LargeText>p {
    font-size: 50px;
    font-weight: 800;
    color: var(--main-color);
    line-height: 65px;
}

.LargeText .SubText {
    text-align: center;
    margin: 20px 0px;
    /* T B */
}

.JoinCommunityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.JoinCommunityContainer .subContainer {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    /* T R B L */
}

.subContainer input {
    border: none;
    outline: none;
}

.subContainer button {
    background-color: #0a9396;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

input::placeholder {
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Poppins';
}


/*DASHBOARD DESIGN*/
.Dashboard .User {
    color: var(--main-color);
    margin-left: 5px;
    font-size: 24px;
}

.Dashboard .Dashboard-Greeting {
    display: flex;
    align-items: center;
}